
.home__flexbox{
	padding-top: 105px;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	cursor: pointer;
	flex: 1 1 50%;
	
}

.home__flexitem img{
	object-fit: cover;
	width: 100%;
	max-width: 450px;
	max-height: 475px;
}

@media (max-width: 1500px) {
	.home__flexbox{
		padding-left: 20px;
		padding-right: 20px;
	}
	.home__flexitem{

		flex: 1 1 45%;
	}
	.home__flexitem img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
	.home__flexitem {
			max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 768px){
	.home__flexitem{
		flex: 1 1 100%;
	}
}